body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Custom Modifications*/ 
.RaSimpleFormIterator-index { display: none ; }

/*Custom Classes*/

.ArrayInput-formBox-3 > ul > li > section {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
}
.ArrayInput-formBox-3 > ul > li > section {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
}
